<% if !current_user?(monthly_expense.user) %>
   <span id="like-<%= monthly_expense.id %>">
    <% if monthly_expense.good?(current_user) %>
			<%= render 'likes/not_good', monthly_expense: monthly_expense %>
    <% else %>
      <%= render 'likes/good', monthly_expense: monthly_expense  %>
    <% end %>
  </span>
<% end %>
